*{ box-sizing: border-box;}
body{ background-color: rgb(236, 236, 236); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding: 10px;}

/* Header */
.header{ background-image: url("Microsoft-Surface-Event.jpg"); background-size: cover; height: 300px; }
.header h1{ margin: 0; padding-top: 80px; text-align: center; font-size: 70px; color: rgb(224, 30, 30);}
.header button{margin: 3% 0 0 45%; font-size: 20px; color: rgb(255, 255, 255); border: 2px solid rgb(44, 44, 44); border-radius: 19px; padding: 15px 35px; background-color: rgb(44, 44, 44); cursor: pointer;}
.header button:hover{ background-color: rgb(230, 0, 0); border: 2px solid rgb(230, 0, 0) ;}

/* Navigation-Bar*/
.nav-bar{ background-color: rgb(27, 27, 27); }
.nav-bar a{ color: white; padding: 20px 30px; display: inline-block; text-decoration: none;}
.nav-bar a:hover{ background-color: red;}
.nb-item-last{ float: right;}


/* main-Container */
.container{ display: flex; flex-wrap: wrap;}
.left-container{ width: 70%;}
.right-container{ width: 30%;}
.main-content{ background-color: white; height: fit-content; padding: 20px; margin: 20px 20px 20px 0px;}
.main-content .image-area{ background-color: rgb(173, 173, 173); width: 97%; height: 200px; padding: 15px; transition: 0.5s;}
.main-content .image-area:hover{ transform: scale(1.05);}

/* side-content */
.side-content{ background-color: white; height: fit-content; padding: 20px; margin: 20px 0 20px 20px;}
.side-content .image-area{ background-color: rgb(173, 173, 173); width: 90%; height: 150px; padding: 15px;}

/* FOOTER */
.footer{ background-color: rgb(149, 149, 149); text-align: center; padding: 50px 0px;}

/* Responsive */
@media screen and ( max-width:800px ) { 
    .header h1{ font-size: 60px;}
    .header p{ font-size: 20px;}
    .container{ display: block;} 
    .left-container{ width: 100%;}
    
}

@media screen and ( max-width: 400px ) {
    .header h1{ font-size: 40px;}
    .header p{ font-size: 12px;}
    .nav-bar a{ display: block; float: none;}
    .left-container{ width: 100%;}
    .right-container{ width: 100%;}
    
}